.__re-bulma_content .__re-bulma_column {
  margin-bottom: 15px;
}

.cancelButton {
  margin-right: 15px;
}


.cancelButton a:visited,
.cancelButton a {
  border: none;
  color: inherit;
  text-decoration: none;
}

.deleteButton {
  float: right;
}
